@using Microsoft.AspNetCore.Identity
@inject SignInManager<BlogUser> SignInManager
@inject UserManager<BlogUser> UserManager

@{
    BlogUser blogUser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav nav flex-nowrap align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {

@*        <li class="nav-item mobile" id="mobile-nav">
            <div class="container">
                <a class="mb-0 mx-2 nav-link text-dark"  asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Hello @blogUser.FirstName!
                </a>
            </div>
        </li>*@
        <li class="nav-item">
            <div class="container">
                <a asp-page="/Account/Logout" asp-area="Identity" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="mb-0 mx-2 btn nav-link text-dark">
                    Logout

                </a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <div class="container">
                <a class="mx-2 nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                    Register

                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="container">
                <a class="mb-0 mx-2 nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                    Login

                </a>
            </div>
        </li>
    }
</ul>
