@{
    ViewData["Title"] = "About";
}
<!-- =======================
Inner intro START -->
<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card card-raised overlay-dark overflow-hidden h-100 text-center img-hover-zoom--brightness">
                    <!-- Card Image overlay -->
                    <img style="height: auto; width:contain;" class="card-img" src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" />
                    <div class="d-flex align-items-center p-3 p-sm-4 card-img-overlay">
                        <div class="w-100 my-auto">
                            <h1 class="text-white display-4">About Me</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================
Inner intro END -->
<!-- =======================
About START -->
<section class="pt-4 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <p class="lead">
                    I built this blog for two main reasons: a learning tool to expand my knowledge skillset using C# and .NET on the backend, and to have a place to share some useful information for the likeminded Software Developers out there. You'll also find this blog on my Portfolio at: <a class="text-dark fw-bolder hover-underline-animation text-decoration-none" href="https://charliekaylor.com" target="_blank">charliekaylor.com</a>.
                </p>
                <h4>Who am I?</h4>
                <p>
                    I am a passionate Software Developer, with a particular focus on C# and .NET to build high quality full stack applications. 
                    I love programming and development, which means I'm always ready to learn and improve my skillset within the field. 
                    During a project build, I ensure optimal code and design (using seperation of concerns), efficiently target and resolve any issues that arise by breaking down the problem into its' smaller parts,
                    using research if necessary to implement a working solution. 
                    Any successful build of an application comes from an initial understanding of what the application is supposed to be and do. 
                    It's my priority to use that understanding to ensure the application is directly in line with the target end product. 
                    I work towards this initial target/spec, then add additional features after the application is fully functional (minimum viable product).
                    Through the use of effective communication, critical thinking, strategic planning and project management, my applications are built in a time
                    efficient manner.
                    <br><br>
                    Recently, my focus has been to strategically learn the skills necessary to build full stack applications effectively and efficiently. 
                    This means a solid grounding in coding both the frontend and backend, with JS, HTML, CSS and Bootsrap5 on the front end and C# .NET &amp; SQL on the back end. 
                    Prior to this, I am educated to degree level (Law &amp; Teaching), and have worked in recruitment, education and retail among others; 
                    bringing a large variety of skills to any business.
                    <br><br>

                </p>
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="fw-bolder">Languages:</h6>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS</li>
                            <li>JS</li>
                            <li>C#</li>
                            <li>SQL</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="fw-bolder">Frameworks:</h6>
                        <ul>
                            <li>ASP.NET MVC</li>
                            <li>.NET</li>
                            <li>Entity Framework</li>
                            <li>Bootstrap5</li>
                            <li>Currently Learning: React</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6 class="fw-bolder">Tools & Other:</h6>
                        <ul>
                            <li>Github</li>
                            <li>Netlify, Heroku</li>
                            <li>RESTful APIs</li>
                            <li>Visual Studio &amp; Visual Studio Code</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </div>
                </div>


                <p>
                    I am currently looking for new opportunities; also open to collaborations and networking within my field. Feel free to <a class="hover-underline-animation text-dark fw-bolder text-decoration-none" asp-action="Contact">contact me</a> if you wish to connect.
                </p>

                <h3>About CK Blogs</h3>
                <p>
                    As mentioned in the opening line at the top of the page, in building this blog I am hoping to document and share any knowledge, tips and tricks 
                    other software developers may find useful. You'll also see this blog evolve over time as improvements are made to the site and new features added.
                </p>