@using TheBlogFinalMVC.ViewModels
@model ContactMe

<div id="layoutAuthentication">
    <!-- Layout content-->
    <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
            <!-- Main content container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-7 col-xl-10">
                        <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-5">
                            <div class="card-body p-5">
                                <!-- Auth header with logo image-->
                                <div class="text-center">
                                    <img class="mb-3" src="/images/svg/Color logo - no background.svg" alt="..." style="height: 68px" />
                                    <h1 class="display-5 mb-3">Contact Me!</h1>
                                </div>
                                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
                                <form asp-action="Contact">

                                    <div class="form-floating">
                                        <input asp-for="Name" type="text" class="form-control" placeholder="Name" required data-validation-required-message="Please enter your name.">
                                        <label class="form-label" asp-for="Name"></label>
                                        <p class="help-block text-danger"></p>
                                    </div>


                                    <div class="form-floating">
                                        <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" required data-validation-required-message="Please enter your email address.">
                                        <label class="form-label">Email Address</label>
                                        <p class="help-block text-danger"></p>
                                    </div>


                                    <div class="form-floating col-xs-12">
                                        <input asp-for="Phone" type="tel" class="form-control" placeholder="Phone Number" required data-validation-required-message="Please enter your phone number.">
                                        <label class="form-label">Phone Number</label>
                                        <p class="help-block text-danger"></p>
                                    </div>


                                    <div class="form-floating col-xs-12">
                                        <input asp-for="Subject" class="form-control" placeholder="Subject" required data-validation-required-message="Please enter your phone number.">
                                        <label class="form-label">Subject</label>
                                        <p class="help-block text-danger"></p>
                                    </div>


                                    <div class="form-control controls">
                                        <label></label>
                                        <textarea asp-for="Message" rows="5" class="form-control" required data-validation-required-message="Please enter a message."></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>

                                    <br>
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-raised-warning mb-2" style="border-radius: 10px;" id="sendMessageButton">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


@section Scripts{

    <script>
        //Default font size but not for placeholder...
        $('#Message').summernote({
            placeholder: "Message"
        });
    </script>



                    }
