@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a class="text-decoration-none hover-underline-animation text-dark" asp-page="./Login"><strong>click here to log in</strong></a>.
</p>
