@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<!-- Layout wrapper-->
<div id="layoutAuthentication">
    <!-- Layout content-->
    <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
            <!-- Main content container-->
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xxl-4 col-xl-5 col-lg-8 col">
                        <div class="card card-raised shadow-10 mt-5 mt-l-10 mb-4">
                            <div class="card-body py-5 px-3">
                                <!-- Auth header with logo image-->
                                <div class="text-center">
                                    <img class="mb-3" src="\images\svg\Color logo - no background.svg" alt="..." style="height: 58px" />
                                    <h1 class="display-5 mb-4">Reset Password</h1>
                                </div>
                                <!-- Reset password submission form-->
                                <form method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input asp-for="Input.Code" type="hidden" />
                                    <div class="form-floating mb-2">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                        <label asp-for="Input.Email" class="form-label"></label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.Password" class="form-label"></label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-2">
                                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                                        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                        <button type="submit" class="btn btn-raised-warning" style="border-radius: 10px;">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>








@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
